# PLEASE OPEN NYU CLASSES

# Log into Jupyterhub

# Log into Gradescope
***

# Big week, lots to do:

## <u> Itinerary: </u>

1. Introduction to JupyterHub
2. Location of Key Files
3. How to do homeworks and labs
4. Work on Lab 0, submit on Jupyterhub
5. Learn Gradescope and submit Lab 0 on gradescope!
6. More Code!

# <u> 1. JupyterHub </u>

## Here you will find:

1. Homeworks
2. Lab Assignments
3. Lab Materials
    1. All TA Slides
    2. All TA Jupyter notebooks
    3. Anything else from lab (practice material)
4. All Lecture Slides!

# If it is not in here, check NYU classes!
### For example, for lecture slides and annoucements!

# To get to Jupyterhub, go to NYU Classes:
<img src="pic2.png">

# or go to https://dsua-111.rcnyu.org

# <u> 2. Location of Key Files </u>

# When you click through, you'll see this:

<img src="pic1.png">

# <u> What are these files? </u>

1. class_materials 

Materials we want to share with you from section will here and you <b> cannot </b> change them!

2. your_materials 

Materials we want to share with you from section will here and you <b> can </b> change them!

3. shared

This is where we will store data sets. You don't need to worry about it right now.

4. lost+found

Sometimes there may be an error or a conflict, JupyterHub might try and help you by saving a version in lost+found. Go here to check if you're having problems and can't find your code. 


## Now you know how access TA materials, what if you want to create a jupyternotebook for practice?

## Go here:

<img src="pic3.png">

# BOOM!

# <u> 3. How to do homeworks and labs </u>

### Go to the <u> assignments </u> tab and you'll see this: 
<img src="pic4.png">

## Except, you'll see Lab 0. 

## Let's fetch and work on it together.

# <u> 4. Work on Lab Zero </u>

## Key steps:

1. Fetch
2. Open
3. Do the work!
4. Validate
    1. Make sure there are no errors
5. <b> Submit </b> on jupyterhub!

### Let's do some work together


### Intermission....
<img src="back.jpeg">

# Ok so, importantly, you MUST SUBMIT your labs and homeworks
# First on Jupyerhub!
# Then on Gradescope!

# <u> 5. Learn Gradescope and Submit Lab 0 on Gradescope! </u>

### Now, you should have received an email to get access to gradescope!

### Let's all get registered now

# Gradescope NEEDS a PDF.


# How to make a PDF:

1. Print it as a <b>HTML</b> 
2. Open this <b>HTML</b> in a browser
3. Print, in the browser, to a pdf:

## 1. Print it as a </b>HTML<b>
    
 <img src="pic5.png">

## 2. Open this </b>HTML<b> in a browser
    
 <img src="pic6.png">
 
## 3. Print, in the browser, to a pdf:
    
 <img src="pic7.png">


# Do NOT, do NOT, do NOT print from a notebook straight to PDF!

# We will know!

# <u> Gradescope has a few easy steps: </u>

## 1. Upload your PDF for the assignment
## 2. Then, SELECT which page of the PDF has which questions
## 3. Submit!

# <u> Homework Recap </u>

## 1. Go to assignments, fetch, finish and submit
## 2. Save it as html, then PDF
## 3. Upload it to Gradescope and submit!

# Do these three things everytime, for every assignment!

# <u> 6. Code! <u>
    
### Now, let's actually learn some more code

### What do we need to cover this week and next:

1. Data types (Integer, float, String)
2. Simple Functions!
    1. str()
    2. int()
    3. float()
    4. type()
3. Lists
4. Numpy arrays


What we don't get to today, we will get to next week!

# <u> Data Types </u>

## There are there a lot of different types of data in Python, but let's see the simple ones:

## 1. <u>Integers</u>

## Integers are exactly what they sound like, they are whole numbers, - $- \infty... -3,-1,0,1,2, 3...\infty$

### Only whole numbers can be represented in Python as integers

In [5]:
foo = -7

In [6]:
print(foo)

-7

In [7]:
foo

-7

### All the arithmetic we did before works on ints!

## 2. <u>Floats</u>

## Floats are numbers with decimals 

### All (rational) real numbers can be represented as floats

In [8]:
bar = 5.5

In [9]:
bar_alt = 5

## Importantly, floats and integers plays nice together

In [10]:
foo + bar

-1.5

### But notice, an integer plus a float makes a float. Generally speaking, python will work when two data types would make sense if they worked together.

### But the output will usually be the more complex data type.

### All the arithmetic we did before works on floats!

## 3. <u>Strings</u>

## Strings are how we represent text

### Just put them in quotes (double or single!)

In [11]:
string_var = 'This is my string'

In [12]:
print(string_var)

This is my string

In [13]:
string_var

'This is my string'

### Ints and floats can also be represented as strings

In [14]:
bar_string = '-7'
foo_string = '5.0'

In [15]:
bar_string

'-7'

In [16]:
foo_string

'5.0'

### Can strings and floats or ints play nice?

In [17]:
bar_string*5

'-7-7-7-7-7'

In [18]:
bar

5.5

In [19]:
bar_string*bar

TypeError: can't multiply sequence by non-int of type 'float'

 <img src="why.jpeg">

### When we multiply a string by an int, it just repeats the string that many times

### But floats don't work. How do you repeat "hello" 3.76 times?

In [21]:
foo

-7

In [22]:
foo_string

'5.0'

In [20]:
foo + foo_string

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### This also doesn't work. 

### But this does!

In [24]:
foo_string

'5.0'

In [26]:
bar_string

'-7'

In [27]:
foo_string + bar_string

'5.0-7'

### It just adds them together!

### There are other simply ways to interact with string, but this is the most important. Feel free to explore and experiment more.

# 2 <u> Simple Functions </u>

## So how do you know what type of data a variable is without looking at it?

In [28]:
foo

-7

### foo loooooooks like an int, but how do we know?

### We can use a simply built in function, but what is a function?

### Functions run code, and you can pass (give) objects to them, and they will output things.

### Let's see an example, the type function. 

### It looks like this: type()

### here is how you use it:

In [30]:
type(foo)

int

### Notice that type is green (that means python has reserved that word, you can't assign type as a variable, mean you can't do something like type = 5).

### I passed (or handed, or gave) the variable foo to type, and then type figures out what data type it is, and then it outputs that

In [32]:
foo_string

'5.0'

In [31]:
type(foo_string)

str

### type is also built in! That means python automatically has this function. 

### In the future, you will write functions, and import (basically borrow) the functions other people have written. Those functions will not be built in, because they don't automatically come with python for everyone.

### importantly, you can assign the the things that functions output to variables, for example:

In [33]:
foo_type = type(foo)

In [34]:
foo_type

int

### What kind of type is foo_type?

In [35]:
type(foo_type)

type

 <img src="whoa.jpg">

### So what if we want to convert data types, like a string to a float (or vice versa)?

### Simple, built in converters!

1. str() <- converts input to a string
2. int() <- converts input to an int
3. float() <- converts input to a float

In [36]:
foo_string

'5.0'

In [38]:
float(foo_string)

5.0

In [37]:
int(foo_string)

ValueError: invalid literal for int() with base 10: '5.0'

In [39]:
my_int_str = '5'
int(my_int_str)

5

In [42]:
int(5.0)

5

### It'sa bit too much for python to go from '5.0' to 5, but we can nest fuctions! 

### Just put one inside the other, and python starts on the inside and goes out (PEMDAS)

In [43]:
int(float(foo_string))

5

In [44]:
float(foo_string)

5.0

In [45]:
int(float(foo_string))

5

### Notice, this won't work if it doesn't make sense:

In [46]:
new_string = "not a number"

In [47]:
float(new_string)

ValueError: could not convert string to float: 'not a number'

### And sometimes, python has some default behavior.

### When int() gets a float, it just takes everying to the left of the decimal (i.e., it always rounds down)

In [48]:
new_float = 5.999999999

In [49]:
int(new_float)

5

# 3 <u> Lists! </u>

## Lists are a datatype that can hold, store or otherwise be a place to put other data!

 <img src="lists.jpeg">
 
 Let's create a list

In [50]:
my_list = []

In [51]:
my_list

[]

### my_list is an empty list. 

### you create lists with SQUARE brackets, i.e., [ and ]

### Things are seperated in lists by commas

In [52]:
my_list2 = [1,23]

In [53]:
my_list2

[1, 23]

### my_list2 is a list, with three items, all of which are integers.

### Lists can store ANY object, and they don't all have to be the same type

In [54]:
mix_list = [8,5.0,'5.0']

In [55]:
mix_list

[8, 5.0, '5.0']

### What if we want to get one item out of a list?

### For example, what if we wanted to get the float 5.0 from mix_list?

### Lists are <u> ordered.</u>  Python will always remember the order of the elements in a list (this is not true of some other data types)

### So all we have to do to get a specific item from a list, is tell python which number item we want.

### How do we do that?

### For lists, we just tell python the index of the item in list, i.e., whatever number it is.

### BUT, python doesn't count 1,2,3,4. 

### Python indexs from 0. Python counts 0,1,2,3,4.

### That means 5.0 is indexed to 1 (not 2), while 8 is indexed to 0

# Remeber, indexing starts at 0 (NOT 1)

 <img src="index.png">

## So how do we tell python, give us element 1 (the SECOND element) from mix_list? (or any list)

In [77]:
mix_list[1]

5.0

In [57]:
mix_list[0]

8

In [58]:
mix_list[2]

'5.0'

In [59]:
mix_list[5]

IndexError: list index out of range

### Ok, so now we can get at the items in lists, and we can assign those values to new variables

In [60]:
elem_2 = mix_list[2]

In [61]:
elem_2

'5.0'

### Can we change elements in the list? Yes, yes we can!

### Lists are mutable (changable), but note that not all datatpyes are!

In [62]:
mix_list[2] ="A different string"

In [63]:
mix_list

[8, 5.0, 'A different string']

### How do we tell how long is? i.e., how many elements are in a list?

### Use len(), len stands for length!

In [64]:
len(mix_list)

3

### Finally, there are some built in functions that work on lists that have only numbers (integers and floats)

### They are max(), min() and mean() and they do what they say they do!

In [65]:
number_list = [423,34,1]

In [66]:
sum(number_list)

458

In [67]:
min(number_list)

1

In [68]:
max(number_list)

423

### How do we find the mean or average?

In [69]:
sum(number_list)/len(number_list)

152.66666666666666

# 4 <u> Numpy </u>

## Numpy stands for numerical python.

### Its an outside package that gives us lots and lots of convenient ways to work with data

### If you've ever worked with vectors, matrices, or linear algebra, numpy is basically how we work with those things

### If you don't know those things, no worries!

### Before we can use numpy we have to import it

In [70]:
import numpy as np

### Basically, we import numpy, but we ask python to abbreviate it to np (for convience)

### Whenever we want to use some functions from numpy, we just start with np

### For now, all we want to use are numpy arrays

### Arrays are alot like lists, but they are designed to work with numbers

### Here is how we create one

In [71]:
my_arr = np.array([1,2,3])

### We call numpy, call the array function, and then pass it a list of numbers

### And we can do cool stuff with it

In [72]:
my_arr*5

array([ 5, 10, 15])

In [73]:
my_arr**3

array([ 1,  8, 27])

### This is very different than if we just did this to a normal list

In [74]:
num_list = [1,2,3]

In [75]:
num_list*5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

### We even get more functionality

### numpy has a mean function (np.mean())

In [76]:
np.mean(my_arr)

2.0