# Data types and sequences
DS4E Lecture 3.2

## 1. Data types

The three data types we'll use the most are int, float, string. We can check the type of our data and, wherever logically possible, change the types.

In [1]:
type(3)      #check the type of our data

int

In [2]:
type(3.0)

float

In [3]:
type('3.0')

str

In [4]:
year = 2020      #we can check the type of data to which we've assigned a name
type(year)

int

In [5]:
height = 66.5
type(height)

float

In [6]:
name = 'Andrea'
type(name)

str

In [7]:
course = 'Data Science for Everyone'
type(course)

str

In [8]:
course = "Data Science for Everyone"          #exploring double " " vs. ' '
interests = "Things I'm interested in"
#interests = 'Things I'm interested in'      #for this one we need double " " not ' '

In [9]:
float(3)

3.0

In [10]:
str(3)

'3'

In [11]:
int(3)

3

In [12]:
year = float(year)
year

2020.0

In [13]:
int(3.14)

3

In [14]:
#int('New York')         #this one won't work!

In [15]:
int('2020')

2020

In [16]:
float('2020')

2020.0

## 2. Sequences

These are structures to store data. There are lots of these (both built-in and that we can import), but two that are super common are lists and arrays (we will discuss others in later weeks, and you'll encounter them in future data science work).

In [17]:
mylist = [2, 3, 4, 9]

In [18]:
mylist

[2, 3, 4, 9]

In [19]:
mylist.append(4)

In [20]:
mylist

[2, 3, 4, 9, 4]

In [21]:
del mylist[1]
mylist

[2, 4, 9, 4]

In [22]:
myotherlist = [1, 4, 'steve', 'apple']       #lists can contain data of different types

In [23]:
myotherlist.append('hi')                     #we can append strings just like we appended a number

In [24]:
myotherlist

[1, 4, 'steve', 'apple', 'hi']

In [25]:
mylist[0]

2

In [26]:
mylist[3]

4

In [27]:
mylist[-1]              #what do you think is going on here?

4

In [28]:
mylist[-2]

9

In [29]:
mylist*2

[2, 4, 9, 4, 2, 4, 9, 4]

In [30]:
import numpy as np                      #arrays are not built in

In [31]:
myarray = np.array([3, 7, 4])

In [32]:
myarray

array([3, 7, 4])

In [33]:
myarray*2

array([ 6, 14,  8])

In [34]:
type(myarray)

numpy.ndarray

In [35]:
list(myarray)

[3, 7, 4]