# Lecture 5.2
Organizing data (columns & rows) and generating (and interpreting) descriptive statistics

In [1]:
import pandas as pd                      
data = pd.read_csv('Lecture5.1-horses.csv')    #why stop when we've got such a great dataset

# Organizing data

*Some code to change how many columns or rows are displayed! I'm commenting out these manipulations because I don't actually want them for the analysis that follows. But please un-comment them and try them out to see how they work -- and feel free to experiment!*

In [2]:
#pd.set_option('display.max_columns', 10)    #un-comment these & experiment with the number!
#pd.set_option('display.max_rows', 10)       #experiment!
#data                                #see the results of your row display manipulations separate from .head()

*Add, drop, rename, and create a subset. Again, experiment with these. And make sure you're comfortable undoing them after you're done experimenting.*

In [3]:
#data.rename(columns={'price': 'the_price'}, inplace=True)   
#data.drop(['price'], axis=1, inplace=True)
#data['color'].replace(['Bay', 'Chestnut'], 'brown', inplace=True)
#data.drop([0], axis=0, inplace=True)      #notice the [0] rather than variable name. What does that do?
#databrown = data[data['color'] == â€˜brown']  #notice to make this work I need to run a previous command!

In [4]:
data.head()

,name,price,sex,height,color,location,markings,weight,foaldate,registrations,disciplines,temperament
0,Captain,5000.0,Gelding,14.212,Dun,"Nantucket, Massachusetts",NaN,NaN,4-May,Norwegian Fjord Horse Registry (04-6018-G),Beginner/Family Cowboy Mounted Shooting Trai...,1.005
1,Eternal Goodness,8500.0,Gelding,16.205,Chestnut,"Brooklyn, Connecticut",NaN,NaN,3-May,JC - Jockey Club (),Jumper (Competed or Shown) Hunter (Competed or...,1.010
2,Dustys Fly Boy,15000.0,Gelding,15.192,Grulla,"Dallas, Texas",NaN,1200 pounds,6-Apr,AQHA - American Quarter Horse Association (484...,Beginner/Family (Champion) Youth/4-H Horse (Ch...,1.012
3,A FEDERAL HOLIDAY,8500.0,Mare,14.999,Grey,"HOLSTEIN, Iowa","star, strip, & snip. 3 white socks.",NaN,5-Apr,AQHA - American Quarter Horse Association (),Western Pleasure (Show) (Competed or Shown) Yo...,1.013
4,WIMPYS TRADITIONSTEP,15000.0,Gelding,14.999,Palomino,"HOWELL, Michigan",NaN,1000 pounds,9-Apr,AQHA - American Quarter Horse Association (526...,Youth/4-H Horse (Trained) Ranch Horse (Trained...,1.013

## Descriptive statistics

*Make sure you reset the various manipulations from above to the default in case, e.g., you dropped a variable and forgot about it (and maybe didn't document it!).*

In [5]:
data.shape

(959, 12)

In [6]:
data['color'].value_counts()      #frequencies

Bay              278
Chestnut         147
Grey             100
Sorrel            93
Black             89
Palomino          45
Buckskin          41
Pinto             36
Brown             32
Dun               31
Roan              24
Other             19
White              8
Cremello           6
Silver Dapple      4
Grulla             4
Perlino            1
Champagne          1
Name: color, dtype: int64

In [7]:
data['color'].value_counts(normalize=True)      #percentages

Bay              0.289885
Chestnut         0.153285
Grey             0.104275
Sorrel           0.096976
Black            0.092805
Palomino         0.046924
Buckskin         0.042753
Pinto            0.037539
Brown            0.033368
Dun              0.032325
Roan             0.025026
Other            0.019812
White            0.008342
Cremello         0.006257
Silver Dapple    0.004171
Grulla           0.004171
Perlino          0.001043
Champagne        0.001043
Name: color, dtype: float64

In [8]:
data['color'].value_counts(normalize=True).round(2)        #This does what you think it does
                                                           #Try putting *100 at the end and see what happens

Bay              0.29
Chestnut         0.15
Grey             0.10
Sorrel           0.10
Black            0.09
Palomino         0.05
Buckskin         0.04
Pinto            0.04
Brown            0.03
Dun              0.03
Roan             0.03
Other            0.02
White            0.01
Cremello         0.01
Silver Dapple    0.00
Grulla           0.00
Perlino          0.00
Champagne        0.00
Name: color, dtype: float64

In [9]:
data['price'].mean()                 #self-explanatory!

7439.958289885297

In [10]:
data['price'].median()               #self-explanatory!

4000.0

In [11]:
data['price'].mode()                 #self-explanatory -- NIIIICE!!!!

0    2500.0
dtype: float64

In [12]:
data['price'].describe()              #The 5-number summary we've all been hearing so much about!
                                      #Take a moment to think about what the std dev is saying (in broad terms)

count       959.000000
mean       7439.958290
std       13278.614627
min           0.000000
25%        1500.000000
50%        4000.000000
75%        8500.000000
max      180000.000000
Name: price, dtype: float64

In [13]:
data['price'].max() - data['price'].min()           #range!

180000.0

In [14]:
from scipy.stats import iqr                         #IQR!
iqr(data['price'])

7000.0

In [15]:
data['price'].quantile(q=0.5)         #another way into the median using our beloved quantiles

4000.0

In [16]:
data['price'].quantile(q=0.9)        #90th percentile. Try other numbers to build intuition!

16500.0

In [17]:
data['price_rank'] = data['price'].rank()         #create a new column containing the rank of each obs in terms of price

In [18]:
data.head()                             #check our work to see if we made the column

,name,price,sex,height,color,location,markings,weight,foaldate,registrations,disciplines,temperament,price_rank
0,Captain,5000.0,Gelding,14.212,Dun,"Nantucket, Massachusetts",NaN,NaN,4-May,Norwegian Fjord Horse Registry (04-6018-G),Beginner/Family Cowboy Mounted Shooting Trai...,1.005,579.5
1,Eternal Goodness,8500.0,Gelding,16.205,Chestnut,"Brooklyn, Connecticut",NaN,NaN,3-May,JC - Jockey Club (),Jumper (Competed or Shown) Hunter (Competed or...,1.010,730.0
2,Dustys Fly Boy,15000.0,Gelding,15.192,Grulla,"Dallas, Texas",NaN,1200 pounds,6-Apr,AQHA - American Quarter Horse Association (484...,Beginner/Family (Champion) Youth/4-H Horse (Ch...,1.012,845.0
3,A FEDERAL HOLIDAY,8500.0,Mare,14.999,Grey,"HOLSTEIN, Iowa","star, strip, & snip. 3 white socks.",NaN,5-Apr,AQHA - American Quarter Horse Association (),Western Pleasure (Show) (Competed or Shown) Yo...,1.013,730.0
4,WIMPYS TRADITIONSTEP,15000.0,Gelding,14.999,Palomino,"HOWELL, Michigan",NaN,1000 pounds,9-Apr,AQHA - American Quarter Horse Association (526...,Youth/4-H Horse (Trained) Ranch Horse (Trained...,1.013,845.0

In [19]:
data.sort_values(by='price', ascending=True).head()    #check our work to see if the ranking makes sense
                                                         #why does it start at 12.5? Try viewing more rows to see

,name,price,sex,height,color,location,markings,weight,foaldate,registrations,disciplines,temperament,price_rank
380,Detailed to the Max,0.0,Gelding,16.086,Bay,"St. Marys, Ontario, Canada",star,NaN,4-May,AQHA - American Quarter Horse Association (),Horsemanship (Trained) Western Pleasure (Show)...,3.052,12.5
920,Bandera,0.0,Mare,17.004,Bay,"Dixon, California","blaze, sock, belly spot, half blue eye",NaN,4-Apr,NaN,Dressage (Competed or Shown),6.276,12.5
406,Jay,0.0,Gelding,15.102,Bay,"Weathersfield, Vermont",NaN,NaN,7-May,AMHA - American Morgan Horse Association (),Companion Only,3.096,12.5
673,Talk of the Town aka Libby,0.0,Mare,14.204,Roan,"Saluda, Virginia","Blaze, Roan Spots, Tobiano",NaN,8-Jun,NaN,Hunter (Champion) Equitation (Champion) Lesson...,4.198,12.5
141,RC,0.0,Gelding,14.288,Bay,"Somerville, Alabama",Stripe,NaN,Jan-90,NaN,Not Applicable,2.031,12.5

In [20]:
#OMG let's hope Prof. JR is done with this horses dataset by now!